<!DOCTYPE html>
<html>
<head>
    <title>AppIcons</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for("static",filename="css/main.css")}}"> -->
    
    <!-- Global CSS for the page and tiles -->
    <link rel="stylesheet" href="{{url_for("static",filename="css/style.css")}}">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
    <h1>AppIcons</h1>
            <h4>Three simple steps to create icons for your Android and iOS Apps.</h4>
            </div>
        </div>
    </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
    <div>
    
    <form action="" method=post enctype=multipart/form-data>
        <div class="boxinfo">
            <h4>Step 1. Choose your platform.</h4>
        <p><input type="radio" name="platform" value="ios" checked="checked"> iOS (icon sizes: 180x180, 120x120, 60x60, 152x152, 76x76)</p>
        <p></p><input type="radio" name="platform" value="android"> Android (icon sizes: 36x36, 48x48, 72x72, 96x96)</p>
        </div>
        <div class="boxinfo">
            <h4>Step 2. Choose the image file to be resized.(<a href="{{url_for('static',filename='images/iconmaker.png')}}">Help</a>)</h4>
        <p><input type="file" name="file"></p>
            </div>
                <div class="boxinfo">
                    <h4>Step 3. Create icons based on your image file.</h4>
        <p><input type="submit" value="Get Icons in .zip File"></p>
        </div>
    </form>
                </div>
            </div>
        <div class="col-md-4">
            <div class="info">
<!--    <img src="{{url_for('static',filename='images/help.png')}}" class="img-responsive" />-->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- victorgau.com medium rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-3914607163427066"
     data-ad-slot="7677228760"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>            
            </div>
        </div>
    </div>
    </div>
    
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="info">
<hr>
<div class="fb-like" data-href="https://appicons.herokuapp.com/" data-action="like" data-show-faces="true" data-share="true"></div><br/>
<!-- <div class="fb-share-button" data-href="http://appicons.herokuapp.com" data-layout="button_count"></div><br/> -->
<div class="fb-comments" data-href="https://appicons.herokuapp.com/" data-numposts="5"></div>
    
        </div>
        </div>
    </div>
    </div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67221024-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>